<header>

            <a href="{{ url_for('admin.index') }}" class="logo">Dashbord</a>
             <a href="{{ url_for('admin.create_post') }}" class="button" >Create post</a>
      <a href="{{ url_for('admin.list_posts') }}" class="button" >List posts</a>
      <a href="{{ url_for('admin.create_user') }}" class="button" >Create user</a>
    <a href="{{ url_for('admin.list_users') }}" class="button" >List users</a>
      <a href="{{ url_for('admin.create_category') }}" class="button" >Create category</a>
    <a href="{{ url_for('admin.list_categories') }}" class="button" >List categories</a>
            <a href="{{ url_for('admin.logout') }}" class="button">Logout</a>

</header>